#map {
    transform: rotate(90deg);
    border: 4px solid #008CBA;
    position:absolute;
    left: 15%;
    bottom: 10%;
}

#n1 {
    position: absolute;
    display: block;
    left: 245px;
    top: 182px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n1:hover {
    background-color: #008CBA;
    color: white;

}

#n2 {
    position: absolute;
    display: block;
    left: 400px;
    top: 208px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n2:hover {
    background-color: #008CBA;
    color: white;
}

#n3 {
    position: absolute;
    display: block;
    left: 400px;
    top: 274px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n3:hover {
    background-color: #008CBA;
    color: white;
}

#n4 {
    position: absolute;
    display: block;
    left: 400px;
    top: 338px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n4:hover {
    background-color: #008CBA;
    color: white;

}

#n5 {
    position: absolute;
    display: block;
    left: 450px;
    top: 338px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n5:hover {
    background-color: #008CBA;
    color: white;

}

#n6 {
    position: absolute;
    display: block;
    left: 450px;
    top: 400px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n6:hover {
    background-color: #008CBA;
    color: white;

}

#n7 {
    position: absolute;
    display: block;
    left: 200px;
    top: 400px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n7:hover {
    background-color: #008CBA;
    color: white;

}

#n8 {
    position: absolute;
    display: block;
    left: 636px;
    top: 202px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n8:hover {
    background-color: #008CBA;
    color: white;

}

#n9 {
    position: absolute;
    display: block;
    left: 640px;
    top: 245px;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n9:hover {
    background-color: #008CBA;
    color: white;
}

.waypointpanel {
    width: 250px;
    height:300px;
    position: absolute;
    z-index: 2;
    border: 4px solid #008CBA;
    left: 70%;
    bottom : 48.5%;
    overflow: auto;
}

#buttonStart {
	position: relative;
	left: 850px;
    top: 435px;
	cursor: pointer;
	background:    #008CBA;
	background:    -webkit-linear-gradient(#008CBA, #008CBA);
	background:    linear-gradient(#008CBA, #008CBA);
	border-radius: 5px;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 700 18px/1 "Helvetica", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
    z-index: 2;
}

#buttonStop {
	position: relative;
	left: 850px;
    top: 435px;
	cursor: pointer;
	background:    #008CBA;
	background:    -webkit-linear-gradient(#008CBA, #008CBA);
	background:    linear-gradient(#008CBA, #008CBA);
	border-radius: 5px;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 700 18px/1 "Helvetica", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
    z-index: 2;
}

#buttonClear {
	position: relative;
	left: 850px;
    top: 435px;
	cursor: pointer;
	background:    #008CBA;
	background:    -webkit-linear-gradient(#008CBA, #008CBA);
	background:    linear-gradient(#008CBA, #008CBA);
	border-radius: 5px;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 700 18px/1 "Helvetica", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
    z-index: 2;
}

/*#toggle {
    position: relative;
    left: 850px;
    top: 435px;
    cursor: pointer;
    z-index: 2;
}*/

#toolbar {
    position: relative;
    display: block;
    top: 500px;
}

.mainwindow {
    width: 1250px;
    height:720px;
    background-color: white;
    position:relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: auto;
    border: 4px solid #008CBA;
    /*padding: 30px;*/

}

.robot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -500px;
    height:40px;
    width: 40px;
    z-index: 2;
}
