/*.mapimage {*/
    /*border: 1px dotted red;*/
    /*position:absolute;*/
    /*height*/
/*}*/


#map {
    transform: rotate(90deg);
    border: 2px dotted orange;
    position:absolute;
    left: 15%;
    bottom: 10%;
    /*padding-left: 10px ;*/
}

/*.deleteDep {*/
    /*background-image: url("../images/x.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/
/*}*/
.waypoints{
    position:relative;
    text-align: center;
    border-radius: 4px;
    /*background-color: #f44336;*/
    font-size: 16px;
    z-index: 1;
    /*opacity: 0.6;*/
    /*cursor: not-allowed;*/
}
#n1 {
    position: relative;
    display: block;
    margin-left: 34.6%;
    margin-top: 25.7%;
    z-index:inherit;
}
#n2 {
    position: relative;
    display: block;
    margin-left: 34.6%;
    margin-top: 3.6%;
    z-index:inherit;
}

#n3 {
    position: relative;
    display: block;
    margin-left: 14.6%;
    /*margin-top: 0%;*/
    z-index:inherit;
}

.waypointpanel {
    width: 250px;
    height:300px;
    position: relative;
    z-index: 2;
    border: 10px solid red;
    left: 69%;
    bottom : 53%;

}

.mainwindow {
    width: 1250px;
    height:720px;
    background-color:#CCCCCC;
    position:relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: auto;
    border: 3px solid green;
    /*padding: 30px;*/

}
area {
    display:inline;
}



.robot {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -500px;
    height:20px;
    width: 20px;
}
