/*.mapimage {*/
    /*border: 1px dotted red;*/
    /*position:absolute;*/
    /*height*/
/*}*/


#map {
    transform: rotate(90deg);
    border: 2px dotted orange;
    position:absolute;
    left: 15%;
    bottom: 10%;
    /*padding-left: 10px ;*/
}

/*.deleteDep {*/
    /*background-image: url("../images/x.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/
/*}*/
/*.waypoints{
    position:relative;
    text-align: center;
    border-radius: 4px;
    *//*background-color: #f44336;*//*
    font-size: 16px;
    *//*z-index: 1;*//*
    *//*opacity: 0.6;*//*
    cursor: not-allowed;
}*/
#n1 {
    position: relative;
    display: block;
    margin-left: 34.6%;
    margin-top: 25.7%;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}

#n1:hover {
    background-color: #008CBA;
    color: white;
}
#n2 {
    position: relative;
    display: block;
    margin-left: 34.3%;
    margin-top: 2%;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n2:hover {
    background-color: #008CBA;
    color: white;
    }

#n3 {
    position: relative;
    display: block;
    margin-left: 14.3%;
    margin-top: -3.6%;
    z-index: 1;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
#n3:hover {
    background-color: #008CBA;
    color: white;
    }



.waypointpanel {
    width: 250px;
    height:300px;
    position: relative;
    z-index: 2;
    border: 10px solid #008CBA;
    left: 69%;
    bottom : 53%;
    overflow: auto;

}

.mainwindow {
    width: 1250px;
    height:720px;
    background-color:#CCCCCC;
    position:relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: auto;
    border: 3px solid #008CBA;
    /*padding: 30px;*/

}





.robot {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -500px;
    height:20px;
    width: 20px;
}
