.gs8{border-width:1px;border-color:#C4C4C4;background-color:#FFFFFF;}
#u2341,#u2344,#u2347,#u2338{border-style:solid;border-width:1px;font-style:normal;}
#u2174,#u2342,#u2345,#u2348,#u2339,#u2150{background-color:transparent;}
#u2160-4{background-color:transparent;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;}
#buttonu2138{border-color:#787878;background-color:#666666;border-radius:10px;}
#buttonu2138:hover{background-color:#141414;}
#u2139-4{background-color:transparent;color:#FFFFFF;font-size:14px;text-align:center;letter-spacing:1px;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;}
#buttonu2138:hover #u2139-4 

p{color:#FFFFFF;visibility:inherit;}
#buttonu2115{border-color:#787878;background-color:#666666;border-radius:10px;}
#buttonu2115:hover{background-color:#141414;}
#u2116-4{background-color:transparent;color:#FFFFFF;font-size:14px;text-align:center;letter-spacing:1px;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;}
#buttonu2138.ButtonSelected #u2139-4 p,#buttonu2115:hover #u2116-4 

p{color:#FFFFFF;visibility:inherit;}
#buttonu2144{border-color:#787878;background-color:#666666;border-radius:10px;}
#buttonu2144:hover{background-color:#141414;}
#buttonu2138.ButtonSelected,#buttonu2115.ButtonSelected,#buttonu2144.ButtonSelected{background-color:#666666;}
#u2145-4{background-color:transparent;color:#FFFFFF;font-size:14px;text-align:center;letter-spacing:1px;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;}
#buttonu2115.ButtonSelected #u2116-4 p,#buttonu2144:hover #u2145-4 

p{color:#FFFFFF;visibility:inherit;}
#buttonu2144.ButtonSelected #u2145-4 

p{color:#FFFFFF;visibility:inherit;}